<!DOCTYPE html>
<html lang="en" datatheme="sunset">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/rko3hnw.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Taylor Merwin</title>
</head>

<body class="bg-base-300">

  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <% if (!user) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a>Item 3</a></li>
            <% } else { %>
              <li><a href="/user">
                  <%= user.username %>'s User Page
                </a></li>
              <li><a href="/logout">Logout</a></li>
              <li><a href="/profile">
                  <%= user.username %>'s Profile
                </a>

              </li>
              <% } %>
                <li><a>About</a></li>
                <li><a href="https://github.com/TaylorMerwin/bloggy" rel="noopener" target="_blank">Source</a></li>
        </ul>
      </div>
      <a href="/" class="btn btn-ghost text-xl">Taylor Merwin</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <% if (!user) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a>Item 3</a></li>
          <% } else { %>
            <li><a href="/user">
                <%= user.username %>
              </a></li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
              <li><a>About</a></li>
              <li><a href="https://github.com/TaylorMerwin/bloggy" rel="noopener" target="_blank">Source</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-outline btn-primary" href="/create">Create Post</a>
    </div>
  </div>

  <div class="flex flex-col max-w-lg mt-8 space-y-8 justify-center align-middle mx-auto">

    <% posts.slice().reverse().forEach(function(post) { %>

      <% let date=new Date(post.created_at); let formattedDate=date.toLocaleDateString('en-US', { month: 'long' ,
        day: 'numeric' , year: 'numeric' }); %>

        <a class="justify-center" href="/view/<%= post.post_id%>">
          <div class="card lg:card-side bg-base-100 shadow-xl max-w-lg justify-center align-middle">
            <% if (post.image_path) { %>
              <figure class="lg:w-1/2"><img class="w-full lg:max-w-full"
                  src="https://storage.googleapis.com/bloggy-images/<%= post.image_path%>" alt="Card Image" />
              </figure>
              <% } else {%>
                <figure class="lg:w-1/2"><img class="w-full lg:max-w-full" src="https://picsum.photos/400"
                    alt="Card Image" />
                </figure>
                <% } %>
                  <div class="card-body">
                    <p>
                      <%= post.author_name %>
                    </p>
                    <p>
                      <%= formattedDate %>
                    </p>
                    <h2 class="card-title hover:text-accent">
                      <%= post.title %>
                    </h2>
                    <p>
                      <%= post.post_description %>
                    </p>
                  </div>
          </div>
        </a>
        <% }); %>

  </div>
  <footer class="footer footer-center bg-base-300 text-base-content p-4">
    <aside>
      <p>Taylor Merwin 2024 </p>
    </aside>
  </footer>
</body>

</html>