<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/rko3hnw.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Bloggy</title>
</head>

<body>
  <header class="header">
    <h1>Bloggy</h1>
    <nav>
      <% if (!user) { %>
        <a href="/login">Login</a>
        <a href="/register">Create Account</a>
        <% } %>

          <% if (user) { %>
            <a href="/create">Create</a>
            <a href="/user">User</a>
            <a href="/logout">Logout</a>
            <% } %>
              <a href="https://github.com/TaylorMerwin/bloggy">About</a>

    </nav>
  </header>
  <p class="text-red-600">Welcome to Tailwindcss!!!!</p>
  <div class="posts">

    <% posts.slice().reverse().forEach(function(post) { %>
      <a href="/view/<%= post.post_id%>">
        <section class="featured">
          <div class="featured-image-container">
            <!-- If there's an image, show it, otherwise show a placeholder -->
            <img src="https://storage.googleapis.com/bloggy-images/<%= post.image_path%>"
              alt="Featured Blog Post Image">
          </div>
          <div class="featured-text-container">
            <p>
              <%= post.author_name %>
            </p>
            <p>
              <% let date=new Date(post.created_at); let formattedDate=date.toLocaleDateString('en-US', { month: 'long'
                , day: 'numeric' , year: 'numeric' }); %>
                <%= formattedDate %>
            </p>
            <h2>
              <%= post.title %>
            </h2>
            <div class="featured-description">
              <p>
                <%= post.post_description %>
              </p>
            </div>
          </div>
        </section>
      </a>
      <% }); %>
  </div>
</body>

</html>