<!DOCTYPE html>
<html lang="en" datatheme="sunset">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css" />
  <title>Bloggy</title>
</head>

<body class="bg-base-300">
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <% if (!user) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a>Item 3</a></li>
            <% } else { %>
              <li><a href="/user">
                  <%= user.username %>
                </a></li>
              <li><a href="/logout">Logout</a></li>
              <li><a>Item 3</a></li>
              <% } %>
                <li><a>About</a></li>
                <li><a href="https://github.com/TaylorMerwin/bloggy" rel="noopener" target="_blank">Source</a></li>
        </ul>
      </div>
      <a href="/" class="btn btn-ghost text-xl">bloggy</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <% if (!user) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a>Item 3</a></li>
          <% } else { %>
            <li><a href="/user">
                <%= user.username %>
              </a></li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
              <li><a>About</a></li>
              <li><a href="https://github.com/TaylorMerwin/bloggy" rel="noopener" target="_blank">Source</a></li>
      </ul>
    </div>
    <div class="navbar-end">
    </div>
  </div>


  <div class="container overflow-x-auto mx-auto lg:w-1/2">
    <table class="table table-zebra justify-center">
      <!-- head -->
      <thead>
        <tr>
          <th>Title</th>
          <th>Creation Date</th>
          <th>Visibility</th>
          <th>Views</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>

        <% posts.slice().forEach(function(post) { %>
          <tr class="hover">
            <td>
              <%= post.title %>
            </td>
            <td>
              <% let date=new Date(post.created_at); let formattedDate=date.toLocaleDateString('en-US', {
                month: 'numeric' , day: 'numeric' , year: 'numeric' }); %>
                <%=formattedDate%>
            </td>
            <td>
              <%if (post.is_private) {%>
                <%= "Private" %>
                  <% } else { %>
                    <%= "Public" %>
                      <% } %>
            </td>
            <td>
              <%= post.view_count %>
            </td>
            <td>
              <button class="btn btn-sm btn-outline btn-primary">Edit</button>
              <button class="btn btn-sm btn-outline btn-secondary">Delete</button>
            </td>
          </tr>
          <% }) %>

      </tbody>
    </table>


  </div>

</body>