<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.typekit.net/rko3hnw.css" />
  <link rel="stylesheet" href="/style.css" />
  <title>Bloggy</title>
</head>

<body>
  <header class="header">
    <a href="/">
      <h1>Bloggy</h1>
    </a>
    <input type="search" placeholder="Search...">
    <nav>
      <a href="/create">Create</a>
      <a href="#">About</a>
    </nav>
  </header>

  <% post.slice().forEach(function(post) { %>
    <main>
      <div class=" article-container">
        <h1 class="article-title">
          <%=post.title %>
        </h1>
        <div class="article-about">
          <p class="article-date">
            <% let date=new Date(post.created_at); let formattedDate=date.toLocaleDateString('en-US', { month: 'long' ,
              day: 'numeric' , year: 'numeric' }); %>
              <%= formattedDate %>
          </p>
          <p class="article-author">
            <%= post.author_name %>
          </p>
        </div>
        <div class="article-image">
          <img src="/<%=post.image_path%>" alt="Article Image" class="article-img" />
        </div>
        <div class="article-content">
          <!-- This is where the blog text will go! -->
          <!-- md-block will autoformat the plain text into stylized text from MD syntax-->
          <md-block class="article-body">
            <%= post.content %>
          </md-block>
        </div>
      </div>

      <form action="/deletePost/<%= post.post_id %>" method="post" onsubmit="return confirmDelete()">
        <button type="submit" id="deleteButton">Delete Post</button>
      </form>

      <script>
        function confirmDelete() {
          return confirm('Are you sure you want to delete this post?');
        }
      </script>
    </main>
    <% }); %>

      <!-- Imported Library that adds md-blocks-->
      <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</body>

</html>