<!DOCTYPE html>
<html lang="en" datatheme="sunset">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/style.css" />
  <title>Bloggy</title>
</head>

<body class="bg-base-300">
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
          </svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
          <% if (!user) { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a>Item 3</a></li>
            <% } else { %>
              <li><a href="/user">
                  <%= user.username %>
                </a></li>
              <li><a href="/logout">Logout</a></li>
              <li><a>Item 3</a></li>
              <% } %>
                <li><a>About</a></li>
                <li><a href="https://github.com/TaylorMerwin/bloggy" rel="noopener" target="_blank">Source</a></li>
        </ul>
      </div>
      <a href="/" class="btn btn-ghost text-xl">bloggy</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <% if (!user) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a>Item 3</a></li>
          <% } else { %>
            <li><a href="/user">
                <%= user.username %>
              </a></li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
              <li><a>About</a></li>
              <li><a href="https://github.com/TaylorMerwin/bloggy" rel="noopener" target="_blank">Source</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn btn-outline btn-primary" href="/create">Create Post</a>
    </div>
  </div>



  <% post.slice().forEach(function(post) { %>


    <div class="container mx-auto p-8 ">
      <article class="prose justify-center mx-auto">
        <div class="flex justify-center overflow-hidden">
          <% if (post.image_path) {%>
            <img src="https://storage.googleapis.com/bloggy-images/<%=post.image_path%>" alt="Article Image" />
            <% } %>
        </div>

        <div class="flex justify-between">
          <div class="flex flex-col">
            <h3>
              <%= post.author_name %>
            </h3>
            <h3>
              <% let date=new Date(post.created_at); let formattedDate=date.toLocaleDateString('en-US', { month: 'long'
                , day: 'numeric' , year: 'numeric' }); %>
                <%=formattedDate%>
            </h3>
          </div>


          <div class="stats">

            <div class="stat">
              <div class="stat-title">Total Page Views</div>
              <div class="stat-value text-center">
                <%= post.view_count %>
              </div>
            </div>

          </div>

        </div>
        <h1>
          <%=post.title %>
        </h1>




        <md-block>
          <%= post.content %>
        </md-block>
      </article>
    </div>
    <% }); %>

      <!-- Imported Library that adds md-blocks-->
      <script type="module" src="https://md-block.verou.me/md-block.js"></script>
</body>

</html>